<div class="control-group">
  <label class="control-label">{{i18n "code_review.title"}}</label>
  <div class="controls">
    {{preference-checkbox
          labelKey="code_review.notify_on_approval"
          checked=model.custom_fields.notify_on_code_reviews}}
  </div>
</div>
