<div class="control-group">
  <label class="control-label">{{i18n "code_review.title"}}</label>
  <div class="controls">
    <PreferenceCheckbox
      @labelKey="code_review.notify_on_approval"
      @checked={{this.notifyOnCodeReviews}}
    />
  </div>
</div>