<li>
  {{#link-to "userActivity.approval-given"}}
    {{i18n "code_review.approval_given"}}
  {{/link-to}}
</li>
<li>
  {{#link-to "userActivity.approval-pending"}}
    {{i18n "code_review.approval_pending"}}
  {{/link-to}}
</li>
